<!--post投稿・編集フォーム-->
<div class="container">
  <%= form_with model:post, local:true do |f| %>
    <div class="form-group">
      <%= f.label :payment_at, "支出日" %>
      <%= f.date_field :payment_at, class: "form-control" %>
    </div>
    <div class="form-group">
      <p>カテゴリー</p>
      <%= f.collection_select :category_id, Category.all, :id, :category_name, { include_blank: "選択してください" }, { class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :content, "支出内容" %>
      <%= f.text_field :content, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price, "金額" %>
      <%= f.number_field :price, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :quantity, "数量" %>
      <%= f.number_field :quantity, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>
