<!--post投稿・編集フォーム-->
<%= form_with model:post, local:true do |f| %>
<div class="form-group">
  <%= f.label :payment_at %>
  <%= f.datetime_select :payment_at, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.select :category_id, [["食費", "0"], ["日用品", "1"], ["光熱費", "2"], ["衣服", "3"], ["美容費", "4"], ["通信費", "5"], ["交通費", "6"], ["医療費", "7"], ["交際費", "8"], ["娯楽費", "9"], ["教育費", "10"], ["その他", "11"]], include_blank: "選択してください" %>
</div>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_field :content, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :price %>
  <%= f.number_field :price, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :quantity %>
  <%= f.number_field :quantity, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.submit "登録", class: "btn btn-outline-secondary" %>
</div>
<% end %>
