<!--マイページ-->
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h3>マイページ</h3>
      <table>
        <tr>
          <td><%= @user.user_name %></td>
        </tr>
        <tr>
          <td><%= @user.email %></td>
        </tr>
      </table>
      <%= link_to "編集する", users_information_edit_path(current_user), class: "btn btn-outline-secondary" %>
      <%= link_to "退会する", users_withdraw_path, method: :patch, class: "btn btn-outline-secondary" %>
    </div>
    <div class="col-sm-5">
      <%= month_calendar do |date| %>
        <%= date.day %><br>
        <%= link_to  @user.posts.where(payment_at: date).sum {|post| post.amount}, date_posts_path(date: date) %>
      <% end %>
    </div>
    <div class="col-sm-5">
      <h5>集計</h5>
      <% @posts.each do |category_id, amount| %>
        <%= Category.find(category_id).category_name %>
        <%= link_to amount, posts_path(category_id: category_id) %>
      <% end %>
    </div>
  </div>
</div>