<!--マイページ-->
<div class="container" style="padding-bottom: 150px;">
  <div class="row">
    <!--ユーザー情報-->
    <div class="col-sm-2">
      <h3>マイページ</h3>
      <table>
        <tr>
          <td><%= @user.user_name %></td>
        </tr>
        <tr>
          <td><%= @user.email %></td>
        </tr>
      </table>
      <% if @user.email == 'guest@guest.com' %>
        <p>※ゲストユーザーは<br>ユーザー情報の編集ができません。</p>
      <% else %>
        <%= link_to "編集する", users_information_edit_path(current_user), class: "btn btn-outline-secondary" %>
        <%= link_to "退会する", users_withdraw_path, method: :patch, class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
    <!--支出データ-->
    <div class="col-sm-5">
      <%= month_calendar do |date| %>
        <%= date.day %><br>
        <%= link_to  @user.posts.where(payment_at: date).sum {|post| post.amount}, date_posts_path(date: date) %>
      <% end %>
    </div>
    <div class="col-sm-5">
      <tbody>
        <h5><%= @month %>月の支出合計  <%= @monthly_amount %>円</h5>
        <% @category_total.each do |category_id, amount| %>
          <tr>
            <td><%= Category.find(category_id).category_name %></td>
            <td><%= link_to amount, posts_path(category_id: category_id) %>円</td>
          </tr>
        <% end %>
      </tbody>
    </div>
  </div>
</div>