<!--フッター-->
<footer class="d-flex justify-content-center" style="width: 100%; height: 15%; background-color: #f39800;">
  <nav class="navbar navbar-expand navbar-light">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to users_my_page_path(current_user), class: "nav-link text-dark" do %>
            <i class="fas fa-home"></i>
          <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path, class: "nav-link text-dark" do %>
            <i class="fas fa-pencil-alt"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to bookmarks_posts_path, class: "nav-link text-dark" do %>
            <i class="fas fa-heart"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to search_path, class: "nav-link text-dark" do %>
            <i class="fas fa-search"></i>
            <% end %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link text-dark" do %>
            <i class="fas fa-user-plus"></i>新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_guest_sign_in_path, method: :post, class: "nav-link text-dark" do %>
            <i class="fas fa-user-circle"></i>ゲストログイン
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</footer>